:root {
	--dark-color-1: #141e27;
	--dark-color-2: #203239;
	--dark-color-3: #27404a;
	--light-color-1: #5be7a1;
	--light-color-2: #3dd489;
	--light-color-3: #4d9772;
	--blue-color: rgb(0, 174, 255);
	--red-color: rgb(255, 0, 170);
}

html,
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--dark-color-1);
}

#root {
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.text {
  color: var(--light-color-2);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.board {
	width: 300px;
	height: 300px;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.tile {
	border: 5px solid var(--dark-color-2);
	cursor: pointer;
	display: flex;
	align-items: center;
}

.no-border-top {
	border-top: none;
}

.no-border-left {
	border-left: none;
}

.no-border-right {
	border-right: none;
}

.no-border-bottom {
	border-bottom: none;
}

.tile div {
	width: 70px;
	height: 70px;
	margin: auto;
	text-align: center;
}

.x-tile {
	font-size: 50pt;
	color: var(--red-color);
	animation: bounce 1s ease-in-out;
}

.o-tile {
	margin-top: px;
	font-size: 40pt;
	color: var(--blue-color);
	animation: bounce 1s ease-in-out;
}

.x-icon {
	color: var(--red-color);
	font-size: 22pt;
	margin-bottom: -10px;
}

.o-icon {
	color: var(--blue-color);
	font-size: 20pt;
	margin-bottom: -8px;
}

.alert {
	width: 100%;
	text-align: center;
	padding: 20px;
	font-weight: bolder;
	letter-spacing: 1px;
	color: var(--light-color-2);
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.controls {
	width: 100%;
	text-align: center;
}

button {
  text-transform: uppercase;
  background-color: var(--dark-color-2);
  border: 1px solid var(--dark-color-1);
  color: var(--light-color-2);
  padding: 15px 20px;
  border-radius: 5px;
  min-width: 150px;
  letter-spacing: 1px;
}

button:hover {
  cursor: pointer;
  background-color: var(--dark-color-3);
}

@keyframes bounce {
	0% {
		transform: scale(1, 1) translateY(0);
	}
	10% {
		transform: scale(1.1, 0.9) translateY(0);
	}
	30% {
		transform: scale(0.7, 1.1) translateY(-55px);
	}
	50% {
		transform: scale(1.05, 0.95) translateY(0);
	}
	60% {
		transform: scale(1, 1) translateY(-10px);
	}
	65% {
		transform: scale(1, 1) translateY(0);
	}
	100% {
		transform: scale(1, 1) translateY(0);
	}
}
