input {
  border: 1px solid var(--dark-color-2);
  background-color: transparent !important;
  border-radius: 5px;
  padding: 15px 10px;
  outline: none;
  color: var(--light-color-1);
  font-family: papyrus;
  width: 100%;
}

::placeholder {
  color: var(--light-color-1);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--light-color-1);
 }
 
 ::-ms-input-placeholder {
  color: var(--light-color-1);
 }

button {
  font-family: papyrus;
  text-transform: uppercase;
  background-color: var(--dark-color-2);
  border: 1px solid var(--dark-color-1);
  color: var(--light-color-1);
  padding: 15px 20px;
  border-radius: 5px;
  min-width: 150px;
}

button:hover {
  cursor: pointer;
}

.form-container {
  display: flex;
  gap: 10px;
  width: 100%;
  flex-direction: column;
  min-width: 300px;
}

.btn-container {
  display: flex;
  gap: 7px;
}