input {
  border: 1px solid var(--dark-color-2);
  background-color: transparent !important;
  border-radius: 5px;
  padding: 15px 10px;
  outline: none;
  color: var(--light-color-1);
  width: 100%;
}

::placeholder {
  color: var(--light-color-3);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--light-color-3);
 }
 
 ::-ms-input-placeholder {
  color: var(--light-color-3);
 }

.form-container {
  display: flex;
  gap: 10px;
  width: 100%;
  flex-direction: column;
  min-width: 300px;
}

.btn-container {
  display: flex;
  gap: 7px;
}